JWT_SECRET=your_jwt_secret
JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret

POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=your_db_name

SEED_PASSWORD_FEMORENO=seed_password_for_femoreno
SEED_PASSWORD_PROSAS=seed_password_for_prosas
SEED_PASSWORD_AAMOROS=seed_password_for_aamoros
SEED_PASSWORD_MZULOAGA=seed_password_for_mzuloaga
SEED_PASSWORD_JOTRUJIL=seed_password_for_jotrujil
