'#TODO'
ft_transcendence/src/backend/micro_services/chat-service/CLAUDE.md
ft_transcendence/src/backend/micro_services/chat-service/milestones.md
ft_transcendence/src/frontend/src/*.md
ft_transcendence/src/chat-milestones.md
